.cover {
  @apply
  flex
  font-semibold
  items-center
  mt-4
  mb-8
  relative
  min-w-fit;

  & svg#rocket {
    @apply
    absolute
    inset-y-auto
    left-0
    w-20;
    rotate: 10deg;
  }

  & svg#rocket-smoke {
    @apply
    absolute
    right-20
    top-8;
    min-height: 860px;
    height: 97vh;
    rotate: -7deg;
    z-index: -10;
  }

  & span {
    @apply
    bg-blue-500
    flex
    items-center
    justify-center
    ml-10
    pl-12
    pr-4
    py-4
    rounded
    text-center
    text-white
    whitespace-nowrap;
  }
}

@media (max-width: 575px) {
  .cover svg#rocket-smoke {
    @apply hidden;
  }
}
