.cover {
  &_rocket {
    @apply rotate-[10deg];
    left: -2.75rem;
  }

  &_rocket-smoke {
    @apply rotate-[-7deg];
    left: -30rem;
    z-index: -5;
  }

  &_footer {
    bottom: -1080px;
    z-index: -5;
  }
}

@media (max-width: 575px) {
  .cover {
    &_rocket-smoke, &_clouds {
      @apply hidden;
    }
  }
}
